{% extends "layout_home.html" %}

{% block content %}
<!-- BLOCK CONTENT -->
<div class="content">
    <div class="container" style="max-width: 1000px;">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title-form">Gestor Inteligente de Proyectos</h4>
                    </div>
                    <img class="card-img-land" src="../static/img/home-landing.jpg">
                    <input id="keywords_in" name="keywords_in" type="hidden" value="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 1rem;">
                <h5 style="padding: 0.5rem; margin-bottom: 0;"><b>Crear Proyectos</b></h5>
                <div class="row" style="border: 1px solid rgba(0,0,0,.125); margin: 0 0.1rem; background-color: white;">
                    <div class="col-md-6" style="margin: 1rem 0;">
                        <div class="dfd text-center">
                            <a href="{{ url_for('main.upload_form') }}">
                                <img class="card-img-land" style="width: 80px;" src="../static/img/icon-upload.png">
                                <p class="text-muted" style="margin: 0.25rem 0 0;"><b>Carga de Documentos</b></p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6" style="margin: 1rem 0;">
                        <div class="dfd text-center">
                            <a href="{{ url_for('main.db_form') }}">
                                <img class="card-img-land" style="width: 80px;" src="../static/img/icon-database.png">
                                <p class="text-muted" style="margin: 0.25rem 0 0;"><b>Búsqueda en Base de Datos</b></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <h5 style="padding: 0.5rem; margin-bottom: 0;"><b>Actualizar Proyectos</b></h5>
                <div class="card">
                    <div class="card-body text-center">
                        <p class="card-title-form" style="margin-bottom: 0.75rem;">Seleccionar proyecto <span style="font-size: small; font-weight: 100;">(últimos 5)</span></p>
                        {% for project in projects %}
                        <a href="{{ url_for('main.upload_home', id=project.pro_id) }}">
                            <button type="button" class="btn btn-outline-dark mb-2">{{project.pro_title}} <span class="badge bg-light text-dark" style="background-color:cornflowerblue !important;">({{project.pro_uni}})</span></button><br>
                        </a>
                        {% endfor %}
                        <button type="button" class="btn btn-primary" style="margin: 1rem;">Ver todos</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}