{% extends "layout.html" %}

{% block content %}
<!-- BLOCK CONTENT -->
<div class="content">
    <div class="container">
        <div class="page-title">    </div>
        <div class="row">
            <div class="col-md-12 page-header"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h5 class="card-header">INICIO</h5>
                    <div class="card-body">
                        <h5 class="card-title">Construcción de Antecedentes</h5>
                        <p class="card-text">Este concepto es uno de los procesos escenciales durante la investigación de una tesis, basado en la integración de una estructura pre establecida es posible identificar los elementos que forman parte de un documento de investigación científico (título, autores, objetivo, metodología, etc.)</p>
                    </div>
                    <img class="card-img-land" src="../static/img/analisis-docs.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}