<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PDF Extract - ES Consultores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome/css/solid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome/css/brands.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/flagiconcss/css/flag-icon.min.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon-dir.png') }}" type="image/gif" />
</head>

<body>
    <!-- SECTION BODY, START -->
    <div class="wrapper">
        <div id="body" class="active">
            <!-- navbar navigation component -->
            <nav class="navbar navbar-expand-lg navbar-white bg-white">
                <button type="button" id="sidebarCollapse" class="btn btn-light" style="border-color: gray;">
                    <i class="fas fa-bars"></i><span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <span style="margin: 0 auto;"><h3 style="margin-bottom: 0;"><b> GI-PRO </b></h3></span>
                    <ul class="nav navbar-nav">
                        <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                                {% if current_user.is_authenticated %}
                                <i class="fas fa-user"></i> <span>{{name}}</span>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- end of navbar navigation -->
            
            {% block content %}

            {% endblock %}

        </div>
    </div>

    <!-- footer -->
    <footer class="default_theme">
        <div class="container-fluid">
        <div class="row">
            <div class="card" style="margin-top: 2rem; padding-top:15px; font-size: 0.9em; text-align: center; width: 100%; color:grey;">
            <p>Grupo ES consultores © Derechos Reservados 2022. Desarrollado por Cesar Peña</p>
            </div>
        </div>
        </div>
    </footer>
    <!-- end footer -->
    
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fabric.min.js') }}"></script>

    <!-- Canvas draw -->
    <!-- <script src="{{ url_for('static', filename='js/canvas-pdf.js') }}"></script> -->
    <!-- Uploads files -->
    <script src="{{ url_for('static', filename='js/form-upload.js') }}"></script>
    
</body>

</html>