<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PDF Extract - ES Consultores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome/css/solid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome/css/brands.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/flagiconcss/css/flag-icon.min.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon-dir.png') }}" type="image/gif" />
</head>

<body>
    <!-- SECTION BODY, START -->
    <div class="wrapper">
        {% if pdf %}
        <nav id="sidebar" class="" style="height: 1024px;">
        {% else %}
        <nav id="sidebar" class="active">
        {% endif %}
            <div class="sidebar-header">
                <a href="{{ url_for('main.home') }}">
                    <img src="../../static/img/esca-logo.png" alt="bootraper logo" class="app-logo">
                </a>
            </div>
            <ul class="list-unstyled components text-secondary">
                <li>
                    <input type="hidden" name="type_url" id="type_url" value="{{ request.url }}" />
                    <input type="hidden" name="type_pro" id="type_pro" value="{{ project.pro_id }}" />
                    <select name="type_doc" id="type_doc" class="form-select" style="width: 90%; margin: 0 1rem;">
                        {% if pdf_type == 'T' %}
                        <option value="T" selected>TODOS</option>
                        {% else %}
                        <option value="T" >TODOS</option>
                        {% endif %}
                        {% if (project.pro_type_a == 1) %}
                            {% if pdf_type == 'A' %}
                            <option value="A" selected>ANTECEDENTES</option>
                            {% else %}
                            <option value="A">ANTECEDENTES</option>
                            {% endif %}
                        {% endif %}
                        {% if (project.pro_type_m == 1) %}
                            {% if pdf_type == 'M' %}
                            <option value="M" selected>MARCO TEORICO</option>
                            {% else %}
                            <option value="M">MARCO TEORICO</option>
                            {% endif %}
                        {% endif %}

                        {% if (project.pro_type_a == 1 and project.pro_type_m == 1) or project.pro_type_a == 1 or project.pro_type_m == 1  %}
                            <p class="card-text-info">Tipo Investigación</p>
                            {% if project.pro_type_a == 1 %}
                                <span class="card-text-info"><b>Antecedentes</b></span>
                            {% endif %}
                            {% if project.pro_type_m == 1 %}
                                <span class="card-text-info"><b>Marco Teórico</b></span>
                            {% endif %}
                        {% endif %}
                    </select>
                </li>
                <li style="margin:10px 0 0; border-top: 1px solid #e6ecf5;"></li>
                {% if current_user.is_authenticated %}
                    {% if pdf %}
                        <li>
                            <a style="padding-left: 1rem; text-align: center;" href="{{ url_for('main.project_pdfs', id=pro_id) }}"><b>PDFs</b></a>
                        </li>
                        {% for mypdf in pdfs %}
                        <li style="padding:4px 2px 0 2px; margin: 0 0 0 5px; border-bottom: 1px dashed #EEE;">
                            <span>
                                <a style="font-size: 0.75rem; padding: 0rem 0.2rem 0.5rem 0.2rem; display: inline-flex; width: 90%;" href="{{ url_for('main.project_pdf', pdf_id=mypdf.pdf_id) }}">
                                    
                                    <b style="font-size: 0.8rem; font-family:'Lato'; color: #498DB7;">[{{ mypdf.pdf_i }}]</b>
                                    &nbsp;
                                    <div style="text-align:justify; padding: 0 2px;">{{ mypdf.pdf_name }}</div>
                                </a>
                                {% if pdf_len == 1 %}
                                <div style="margin: 0; display:inline-grid; width: 0;">
                                    <a style="padding: 0; display:inline" href="" title="Eliminar" onclick="delPDFOne('{{pdf_len}}')">
                                        <span style="margin: 0; opacity: 50%;" class="fa-fw select-all fas"></span>
                                    </a>
                                    <a style="padding: 0; margin: 0; width: 20px;" href="" title="Cambiar" onclick="editPDFAll('{{ request.url }}', '{{ project.pro_id }}', '{{mypdf.pdf_type}}', '{{mypdf.pdf_nation}}', '{{mypdf.pdf_id}}')">
                                        <span class="fa-fw select-all fas"></span>
                                    </a>
                                    <a style="padding: 0; margin: 0; width: 20px;" href="" title="Duplicar" onclick="doublePDFAll('{{ request.url }}', '{{ project.pro_id }}', '{{mypdf.pdf_name}}', '{{mypdf.pdf_type}}', '{{mypdf.pdf_id}}')">
                                        <span class="fa-fw select-all fas"></span>
                                    </a>
                                </div>
                                {% else %}
                                <div style="margin: 0; display:inline-grid; width: 0;">
                                    <a style="padding: 0; margin: 0; width: 20px;" href="" title="Eliminar" onclick="delPDFAll('{{ request.url }}', '{{ project.pro_id }}', '{{mypdf.pdf_name}}', '{{mypdf.pdf_id}}')">
                                        <span style="margin: 0;" class="fa-fw select-all fas"></span>
                                    </a>
                                    <a style="padding: 0; margin: 0; width: 20px;" href="" title="Cambiar" onclick="editPDFAll('{{ request.url }}', '{{ project.pro_id }}', '{{mypdf.pdf_type}}', '{{mypdf.pdf_nation}}', '{{mypdf.pdf_id}}')">
                                        <span class="fa-fw select-all fas"></span>
                                    </a>
                                    <a style="padding: 0; margin: 0; width: 20px;" href="" title="Duplicar" onclick="doublePDFAll('{{ request.url }}', '{{ project.pro_id }}', '{{mypdf.pdf_name}}', '{{mypdf.pdf_type}}', '{{mypdf.pdf_id}}')">
                                        <span class="fa-fw select-all fas"></span>
                                    </a>
                                </div>
                                {% endif %}
                            </span>
                            {% if mypdf.pdf_nation == 'OI' or  mypdf.pdf_nation == 'ON' %}
                            <div class="col-md-3 text-center" style="width: 90%; margin: -5px 0 5px 15px; font-size: x-small; display: flex;">
                                <label class="form-check-label" for="radio1" style="width: 100%;"><b>Atributos</b></label>
                            </div>
                            {% else %}
                            <div class="col-md-3 text-center" style="height: auto; margin: 0 0 0 15px; font-size: x-small; display: flex;">
                                <div class="form-check form-check-inline" style="margin: 0 10px; width: 110px;">
                                    {% if mypdf.pdf_nation == 'N' %}
                                    <input class="form-check-input" type="radio" name="type-{{mypdf.pdf_i}}" value="A" id="radio1" checked>
                                    {% else %}
                                    <input class="form-check-input" type="radio" name="type-{{mypdf.pdf_i}}" value="A" id="radio1">
                                    {% endif %}
                                    <label class="form-check-label" for="radio1" style="width: 70px;"><b>Nacional</b></label>
                                </div>
                                <div class="form-check form-check-inline" style="margin: 0 10px; width: 110px;">
                                    {% if mypdf.pdf_nation == 'I' %}
                                    <input class="form-check-input" type="radio" name="type-{{mypdf.pdf_i}}" value="M" id="radio2" checked>
                                    {% else %}
                                    <input class="form-check-input" type="radio" name="type-{{mypdf.pdf_i}}" value="M" id="radio2">
                                    {% endif %}
                                    <label class="form-check-label" for="radio2" style="width: 80px;"><b>Internacional</b></label>
                                </div>
                            </div>
                            {% endif %}
                        </li>
                        {% endfor %}
                        <div class="mb-3" style="margin-bottom: 0 !important;">
                            <!-- <form method="POST" action="save_pro_mul" enctype="multipart/form-data"> -->
                                <input type="hidden" name="down_pro" id="down_pro" value="{{ project.pro_id }}" />
                                <p style="text-align: center; margin: 15px 0; color: #222;">
                                    <button class="btn btn-success" id="save_pro" type="submit" style="font-size: medium;">
                                        &nbsp;&nbsp;<i class="fas fa-file-download"></i>&nbsp;&nbsp;
                                    </button><br>
                                    <span>Descargar Proyecto.</span>
                                </p>
                            <!-- </form> -->
                        </div>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>
        {% if pdf %}
        <div id="body" class="active">
        {% else %}
        <div id="body" class="">
        {% endif %}
            <!-- navbar navigation component -->
            <nav class="navbar navbar-expand-lg navbar-white bg-white" style="min-height: 55px;">
                <button type="button" id="sidebarCollapse" class="btn btn-light" style="border-color: gray;">
                    <i class="fas fa-bars"></i><span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    {% if project %}
                    <span style="margin: 0 auto;"><h5 style="margin-bottom: 0;"> {{ project.pro_title }} </h5></span>
                    {% endif %}
                    <ul class="nav navbar-nav">
                        <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                                {% if current_user.is_authenticated %}
                                <a href="#" id="nav2" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user"></i> <span>{{name}}</span>
                                    <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end nav-link-menu">
                                    <ul class="nav-list">
                                        <li><a href="" class="dropdown-item"><i class="fas fa-address-card"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Perfil</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a href="{{ url_for('auth.logout') }}" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Salir</a></li>
                                    </ul>
                                </div>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- end of navbar navigation -->
            {% block content %}

            {% endblock %}
        </div>
    </div>

    <!-- footer -->
    <footer class="default_theme">
        <div class="container-fluid">
        <div class="row">
            <div class="card" style="margin-top: 2rem; padding-top:15px; font-size: 0.9em; text-align: center; width: 100%; color:gray;">
            <p>Grupo ES consultores © Derechos Reservados 2022. Desarrollado por Cesar Peña</p>
            </div>
        </div>
        </div>
    </footer>
    <!-- end footer -->

    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fabric.min.js') }}"></script>

    <!-- Uploads files -->
    <script src="{{ url_for('static', filename='js/form-pdf.js') }}"></script>
    <!-- Canvas draw -->
    {% if pdf %}
    <script src="{{ url_for('static', filename='js/canvas.js') }}"></script>
    {% endif %}
</body>

</html>