<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PDF Extract - ES Consultores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome/css/solid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome/css/brands.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/flagiconcss/css/flag-icon.min.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon-dir.png') }}" type="image/gif" />
</head>

<body>
    <!-- SECTION BODY, START -->
    <div class="wrapper">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <img src="../static/img/esca-logo.png" alt="bootraper logo" class="app-logo">
            </div>
            <ul class="list-unstyled components text-secondary">
                <li>
                    <a href="{{ url_for('main.index') }}"><i class="fas fa-home"></i> HOME <br></a>
                </li>
                <li style="margin:10px 0 0; padding-top: 10px; border-top: 1px solid #e6ecf5;"></li>
                
                {% if current_user.is_authenticated %}
                <li style="text-align: left; font-size:medium; padding: 0 0 0 20px;">
                    <p style="color: #444; margin: 0 auto;">Bienvenido <b>{{name}}</b></p>
                </li>
                <li>
                    <a href="#"><i class="fas fa-cog"></i> ARTÍCULOS</a>
                </li>
                <!-- <li style="padding:5px 0 0 10px;">
                    <a href="{{ url_for('main.paper_one') }}">&nbsp;&nbsp;&nbsp;<i class="fas fa-file-pdf"></i>Único PDF</a>
                </li> -->
                <li style="padding:5px 0 0 10px;">
                    <a href="{{ url_for('main.paper_mul') }}">&nbsp;&nbsp;&nbsp;<i class="fas fa-copy"></i> Múltiples PDFs</a>
                </li>

                <li>
                    <a href="#"><i class="fas fa-cog"></i> TESIS</a>
                </li>
                <li style="padding:5px 0 0 10px;">
                    <a href="{{ url_for('main.thesis_one') }}">&nbsp;&nbsp;&nbsp;<i class="fas fa-file-pdf"></i>Único PDF</a>
                </li>
                <li style="padding:5px 0 0 10px;">
                    <a href="{{ url_for('main.thesis_mul') }}">&nbsp;&nbsp;&nbsp;<i class="fas fa-copy"></i> Múltiples PDFs</a>
                </li>
                {% endif %}

                {% if not current_user.is_authenticated %}
                <li style="text-align: center; font-size: smaller; padding: 5px 0;">
                    <p style="color: #444; margin: 0 auto;">Procesa PDFs, ingresando aquí</p>
                </li>
                <p style="color: #1c80c2; text-align: center; font-size: medium; padding: 5px 10px;">
                    <a href="{{ url_for('auth.login') }}" style="font-weight: 600; padding: 5px 0;">Iniciar Sesión</a>
                </p>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li style="margin:10px 0 0; padding-top: 10px; border-top: 1px solid #e6ecf5;"></li>
                <p style="color: #6d1e1c; text-align: center; font-size: medium; padding: 5px 10px;">
                    <a href="{{ url_for('auth.logout') }}" style="font-weight: 600; padding: 5px 0;">Cerrar Sesión</a>
                </p>
                {% endif %}
            </ul>
        </nav>
        <div id="body" class="active">
            <!-- navbar navigation component -->
            <nav class="navbar navbar-expand-lg navbar-white bg-white">
                <button type="button" id="sidebarCollapse" class="btn btn-light" style="border-color: gray;">
                    <i class="fas fa-bars"></i><span></span>
                </button>
                <span style="margin: 0 auto; padding: 10px 20px 0 0;"><h4><b> PDF EXTRACT v2.0 </b></h4></span>
            </nav>
            <!-- end of navbar navigation -->
            
            {% block content %}

            {% endblock %}
            
        </div>
    </div>
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fabric.min.js') }}"></script>

    <!-- Canvas draw -->
    <!-- <script src="{{ url_for('static', filename='js/canvas-pdf.js') }}"></script> -->
    <!-- Uploads files -->
    <script src="{{ url_for('static', filename='js/form-pdf.js') }}"></script>
    
</body>

</html>