{% extends "layout_project.html" %}

{% block content %}
<!-- BLOCK CONTENT -->
<div class="content">
    <div class="container" id="container">
        <div class="page-title"> </div>
        <div class="row" style="height: 9px;">
            <div class="col-md-12 page-header"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h6 class="card-header"><b>Proyecto</b>: 
                        {% if project %}
                        <span style="font-size:medium;">{{ project.pro_title }}</span>
                        {% endif %}
                    </h6>
                    <div class="card-body">
                        {% if pdf %}   
                            <div id="alert_wrapper"></div>
                            <div class="row" style="padding: 0 1rem;">
                                <div class="col-sm-3" style="padding: 0;">
                                    <div class="pagination" style="text-align: left;">
                                        <div id="add_attribute" style="width: 100%; height: 25px;">
                                            <a href="#" onClick="addAttribute()" style="padding: 5px;">Agregar Atributo</a>
                                        </div>
                                        <li style="margin: 5px 0 5px; border-bottom:#CCC 1px solid; text-align: center;">
                                            <div id="div_attribute" style="text-align: center;" class="d-none">
                                                <input style="width: 85%; display: inline-block;" name="new_attribute" id="new_attribute" type="text" placeholder="Ingrese atributo" class="form-control">
                                                <button type="button" id="btn_cancel_att" class="btn btn-sm btn-secondary" onclick="cancelAttribute(this.id)">
                                                    <i class="fas fa-window-close"></i>
                                                </button>
                                                <button type="submit" style="margin: 5px 0" id="btn_save_att" class="btn btn-sm btn-success" onclick="saveAttribute('{{ request.url }}')">Guardar</button>
                                            </div>
                                        </li>
                                        <div id="div_found" class="text-center">
                                            <!-- ATRIBUTOS ENCONTRADOS -->
                                            {% for detail in pdf.foundlist %}
                                            <li style="padding:3px 0 0 0;">
                                                <label for="state" class="form-label" style="width: 100px; text-align: right; font-size: smaller;">{{ detail.det_name }} &nbsp;</label>
                                                <label for="state" class="form-label" style="margin-bottom: 0.15rem;">
                                                    <select id="page_{{detail.det_id}}-{{detail.det_attribute}}" class="form-select" style="display: inline-block; width: auto; font-size: small; padding-right: 1.80rem;" required onchange="selectPage(this.value, '{{ pdf.id }}')" disabled>
                                                        {% for x in pdf.listnpages %}
                                                        <option value="{{x}}">{{x}}</option>
                                                        {% endfor %}
                                                        <option value="{{detail.det_npage}}" selected>{{detail.det_npage}}</option>
                                                    </select>
                                                </label>
                                                <button type="button" id="vector_{{detail.det_id}}-{{detail.det_attribute}}-{{detail.det_name}}" class="btn btn-sm btn-secondary" onclick="activeAttribute(this.id, '{{ pdf.id }}')" style="opacity: 0.5;">
                                                    <input type="hidden" id="det_x-{{detail.det_name}}" value="{{detail.det_x}}" />
                                                    <input type="hidden" id="det_y-{{detail.det_name}}" value="{{detail.det_y}}" />
                                                    <input type="hidden" id="det_width-{{detail.det_name}}" value="{{detail.det_width}}" />
                                                    <input type="hidden" id="det_height-{{detail.det_name}}" value="{{detail.det_height}}" />
                                                    <i class="fas fa-vector-square"></i>
                                                </button>
                                                <button type="button" id="close_{{detail.det_id}}-{{detail.det_attribute}}-{{detail.det_name}}" class="btn btn-sm btn-secondary d-none" onclick="closeAttribute(this.id)">
                                                    <i class="fas fa-window-close"></i>
                                                </button>
                                                <button type="submit" id="remove_{{detail.det_id}}-{{detail.det_attribute}}-{{detail.det_name}}" class="btn btn-sm btn-secondary" onclick="delAttribute('{{ request.url }}', this.id)" style="opacity: 0.75; background-color: white; color: red; border: 1px dotted gray;">
                                                    <i class="fas fa-backspace"></i>    
                                                </button>
                                                {% if detail.det_value %}
                                                <div id="divtext_{{detail.det_name}}" class="d-none">
                                                    <textarea id="text_{{detail.det_name}}" class="text_area"> {{ detail.det_value }} </textarea><br>
                                                    <button type="submit" id="btn_save_text" class="btn btn-sm btn-success" onclick="saveText('{{ request.url }}', '{{detail.det_name}}')">Guardar</button>    
                                                </div>
                                                {% endif %}
                                            </li>
                                            {% endfor %}
                                        </div>
                                        <li style="margin: 10px 0 5px; border-bottom:#CCC 1px solid; text-align: center;"></li>
                                        <div class="mb-3">
                                            <form method="POST" action="export_paper_mul" enctype="multipart/form-data">
                                                <input type="hidden" name="export_att" id="export_att" value="{{ result_file_down }}" />
                                                <p style="text-align: center; margin: 15px 0 0 0;">
                                                    <button class="btn btn-primary" id="saveImage_btn" type="submit" style="font-size: small;" disabled>Exportar</button>
                                                </p>
                                            </form>
                                        </div>

                                    </div>  
                                </div>
                                <div class="col-sm-9">
                                    <div id="canvasContainer" style="width: 100%; height: auto;">
                                        <div id="buttons-close" style="width: 42%; display: inline-block; text-align: left; margin: 0 0 0 1.25rem;">
                                            <button type="submit" id="btn_save_canvas" class="btn btn-success mb-2" onclick="saveCanvas('{{ request.url }}')" disabled>
                                                <i class="fas fa-save"></i>
                                            </button>
                                        </div>
                                        <span>Page</span>&nbsp;
                                        <span id="current_page" class="input-group-text" style="display: inline; padding: 0.25rem;">1</span>
                                        <div id="buttons-actions" style="width: 42%; display: inline-block; text-align: right; margin: 0 0 0 0.5rem;">
                                            <input type="hidden" id="num_pages" value="{{ pdf.pdf_path.num_pages }}" />
                                            <button id="btn_arrow_left" type="button" class="btn btn-icon icon-left btn-secondary mb-2" onclick="movePage(this, '{{ pdf.id }}', 'down')"><i class="fas fa-arrow-alt-circle-left"></i></button>
                                            <button id="btn_arrow_right" type="button" class="btn btn-icon icon-left btn-secondary mb-2" onclick="movePage(this, '{{ pdf.id }}', 'up')"><i class="fas fa-arrow-alt-circle-right"></i></button>
                                        </div>
                                        <div id="canvasContainer" class="text-center" style="width: 100%; padding: 0 20px 0 25px;">
                                            <canvas id="canvas" style="background-image: url('{{ pdf.pdf_path.path_page }}'); position: relative; opacity: 0.75; margin: 0 auto;" width="700px" height="1000px"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="row d-none" style="padding: 0 1rem;">
                                <canvas id="canvas"></canvas>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}