{% extends "layout_qr.html" %}

{% block content %}
<!-- BLOCK CONTENT -->
<div class="content">
    <div class="container">
        <div class="row">
            <div id="alert_wrapper">
                
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form method="POST" action="qr" enctype="multipart/form-data">
                    {% if result_upload %}
                    <div class="mb-3 text-center">
                        <!-- Seleccionar múltiples PDFs -->
                        <label id="files_label" style="margin: 0.5rem 0; width: 100%;">Seleccionar Vouchers</label><br>
                        <input type="file" class="form-control" id="file_pdf" name="files[]" multiple="true" autocomplete="off" accept="image/png, application/pdf, image/jpeg" required>
                        <input type="hidden" name="process" id="process" value="0" />
                        <div class="line"></div>
                        <button class="btn btn-primary" id="progressPDF_btn" type="submit">
                            <i class="fas fa-file-upload"></i> &nbsp;Cargar Vouchers
                        </button>
                    </div>
                    {% else %}
                        {% if result_process %}
                        <div class="card">
                            <div class="card-header text-center"><b>Facturas con código QR</b></div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped" id="dataTables-example" style="font-size:smaller;" width="100%">
                                        <thead>
                                            <tr style="line-height: normal;">
                                                <th>No<br>#</th>
                                                <th>FECHA<br>(dd/mm/yy)</th>
                                                <th style="text-align: center;">MONEDA<br>(S/ $)</th>
                                                <th>TIPO<br>Doc</th>
                                                <th>NUMERO<br>Doc</th>
                                                <th>RUC Empresa</th>
                                                <th>RUC Cliente</th>
                                                <th style="text-align: center;">TOTAL<br>(S/ $)</th>
                                                <th style="text-align: center;">IGV<br>(18%)</th>
                                                <th>Estado<br>&nbsp;&nbsp;(%)</th>
                                                <th style="text-align: center;">Ver</th>
                                            </tr>
                                        </thead>
                                        <tbody id="dataCode">
                                            
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div id="list_vouchers" class="card d-none">
                            <div class="card-header text-center"><b>Listado Vouchers Procesados</b></div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped" id="dataTables-example" style="font-size:smaller;" width="100%">
                                        <thead>
                                            <tr style="line-height: normal;">
                                                <th>No<br>#</th>
                                                <th>FECHA<br>(dd/mm/yy)</th>
                                                <th style="text-align: center;">MONEDA<br>(S/ $)</th>
                                                <th>TIPO<br>Doc</th>
                                                <th>NUMERO<br>Doc</th>
                                                <th>RUC Empresa</th>
                                                <th>RUC Cliente</th>
                                                <th style="text-align: center;">TOTAL<br>(S/ $)</th>
                                                <th style="text-align: center;">IGV<br>(18%)</th>
                                                <th>Estado<br>&nbsp;&nbsp;(%)</th>
                                                <th style="text-align: center;">Ver</th>
                                            </tr>
                                        </thead>
                                        <tbody id="dataCode">
                                                                    
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div id="msg_upload" class="mb-3 text-center" style="margin: 2.5rem 0 !important;">
                            <p>Los archivos fueron cargados correctamente</p>
                        </div>
                        <div class="mb-3 text-center" style="margin: 1rem 0;">
                            <!-- <input type="hidden" name="pro_id" id="pro_id" value="{{ pro_id }}" /> -->
                            <input type="hidden" name="process" id="process" value="1" />
                            <!-- <button class="btn btn-secondary" type="button" id="cancelPDF_btn">Cancelar</button> -->
                            <button type="button" class="btn btn-success" id="processPDF_btn" onclick="processVouchers(this, '{{ request.url }}')"> 
                                <!-- onclick="clicQRProgress()" -->
                                <i class="fas fa-play"></i> &nbsp;Procesar
                            </button>
                            <div id="processPDF_wrapper" class="text-center d-none">
                                <img src="{{ url_for('static', filename='img/processing.gif') }}" style="width: 100px; height: 100px;">
                                <p style="margin:1rem auto;">
                                    <small style="color:gray;" lass="text-muted"><b>procesando vouchers</b></small>
                                </p>
                            </div>
                        </div>
                        {% endif %}
                        <div class="line" style="text-align: left; width: 100%; margin: 1rem 0; border-color: #999;"></div>
                        <div class="mb-3 text-center" style="margin: 2rem 0;">
                            <input type="hidden" name="process" id="process" value="1" />
                            <a href="{{ url_for('main.qr') }}">
                                <button class="btn btn-secondary" type="button" id="cancelPDF_btn">&nbsp; Volver &nbsp;</button>
                            </a>
                        </div>
                    {% endif %}
                </form>
            </div>

            <div class="col-sm-12 text-center">
                <div id="processPDF_wrapper" class="text-center d-none">
                    <img src="{{ url_for('static', filename='img/processing.gif') }}" style="width: 100px; height: 100px;">
                    <p style="margin:1rem auto;">
                        <small style="color:gray;" lass="text-muted"><b>procesando PDF(s)</b></small>
                    </p>
                </div>
                <div id="progressPDF_wrapper" class="text-center d-none">
                    <img src="{{ url_for('static', filename='img/processing.gif') }}" style="width: 100px; height: 100px;">
                    <p style="margin:1rem auto;">
                        <small style="color:gray;" lass="text-muted"><b>cargando JPG(s)</b></small>
                    </p>
                </div>
                <div id="alertPDF_wrapper">
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}