{% extends "layout.html" %}

{% block content %}
<!-- BLOCK CONTENT -->
<div class="content">
    <div class="container">
        <div class="page-title">    </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h6 class="card-header">Extraer de información de PDFs</h6>
                    <div class="card-body">
                        {% if project %}
                        <h5 class="card-title-info">{{ project.pro_title}} </h5>
                        {% endif %}
                        <!-- <form class=""> -->
                            {% if not result_file_text %}
                            <div class="row">
                                <div class="col-sm-12">
                                    {% if not resultLoad %}
                                    <form method="post" action="/thesis_mul" enctype="multipart/form-data">
                                        <div class="mb-3 text-center">
                                            <label id="files_label" style="margin: 0.5rem 0; width: 100%;">Seleccionar múltiples PDFs</label><br>
                                            <input type="file" class="form-control" id="file_pdf" name="files[]" multiple="true" autocomplete="off" required>
                                            <input type="hidden" name="pro_id" id="pro_id" value="{{ pro_id }}" />
                                            <div class="line"></div>
                                            <button class="btn btn-primary" id="progressPDF_btn" onclick="clicPDFProgressMul()" type="submit">
                                                <i class="fas fa-file-upload"></i> &nbsp;Cargar PDFs
                                            </button>
                                        </div>
                                    </form>
                                    {% else %}
                                        <!-- <div class="mb-3 text-center">
                                            <label id="file_PDF_label" style="margin: 0.5rem 0; font-weight: bold; width: 100%;">Seleccionar PDFs</label><br>
                                            <input type="file" class="form-control" name="file_pdf" id="file_pdf" accept="application/pdf" multiple oninput="input_pdf_file();">
                                        </div> -->
                                        <form method="POST" action="action_thesis_mul" enctype="multipart/form-data">
                                           
                                            <!-- PROCESAMIENTO CON FILTRO X ATRIBUTOS -->
                                            <div class="card">
                                                <div class="card-body" style="padding-bottom: 0.2rem;">
                                                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" onclick="clicProcessPart()">
                                                    {% for pdf in pdfs %}
                                                        <li class="nav-item">
                                                            <a class="nav-link" id="page_tab_{{pdf.pdf_id}}" data-bs-toggle="pill" href="#page_{{pdf.pdf_id}}" role="tab" aria-controls="page_{{pdf.pdf_id}}" aria-selected="false">PDF <span style="font-size: x-small;">({{pdf.npages}} pag.)</span></a>
                                                        </li>
                                                    {% endfor %}
                                                        <div class="col-sm-12 text-center">
                                                            <span style="font-size:smaller;">Si NO desea procesar todo, seleccione el PDF que desea procesar</span>
                                                        </div>
                                                    </ul>
                                                    <div class="tab-content" id="pills-tabContent" style="padding: 0 5px 10px;">
                                                        {% for pdf in pdfs %}
                                                        <div class="tab-pane fade" id="page_{{pdf.pdf_id}}" role="tabpanel" aria-labelledby="page_tab_{{pdf.pdf_id}}">
                                                            <div class="col-sm-12">
                                                                {% for i in range(pdf.npages) %}
                                                                <div class="form-check form-check-inline" style="padding-left: 0; margin-right: 2px; font-size:small; color: #666;">
                                                                    <button type="button" class="btn" style="padding: 0 2px; margin: 5px 0;" data-toggle="modal" data-target="#exampleModal_{{pdf.pdf_id}}_{{i}}">
                                                                        <div style="border: 1px solid #CCC; margin-top: 2px;">
                                                                            <span class="fa-fw select-all fas" style="width: 100px">
                                                                                <img class="card-img-land" style="width: 100px;" src='{{pdf.pdf_path}}{{i}}.jpg'>
                                                                            </span>
                                                                        </div>
                                                                        <span id="popup" class="fa-fw select-all fas"></span>
                                                                        <div style="margin: 0 15px;">
                                                                        {% if i==0 or i==1 %}
                                                                            <input class="form-check-input" style="margin-left: 0;" type="checkbox" name="page" id="page_{{pdf.pdf_id}}_{{i}}" value="{{pdf.pdf_id}}_{{i}}" checked>&nbsp;Pag. {{i+1}}&nbsp;
                                                                        {% else %}
                                                                            <input class="form-check-input" style="margin-left: 0;" type="checkbox" name="page" id="page_{{pdf.pdf_id}}_{{i}}" value="{{pdf.pdf_id}}_{{i}}">&nbsp;Pag. {{i+1}}&nbsp;
                                                                        {% endif %}
                                                                        </div>
                                                                    </button>
                                                                    
                                                                        <!-- <button class="btn btn-secondary" style="padding: 0 2px;" id="preview" onclick="clicPDFPreview()" type="button">
                                                                        <span id="myPopup" class="fa-fw select-all fas"></span>
                                                                    </button> -->
                                                                    <!-- Button to launch a modal -->
                                                                    

                                                                    <!-- Modal -->
                                                                    <div class="modal fade" id="exampleModal_{{pdf.pdf_id}}_{{i}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                        <div class="modal-dialog" role="document" style="max-width: 700px;">
                                                                            <div class="modal-content" style="background-color: #CCC; width: 735px;">
                                                                                <!-- Add image inside the body of modal -->
                                                                                <div class="modal-body">
                                                                                    <img id="image" src="{{pdf.pdf_path}}{{i}}.jpg" alt="Click on button" />
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3 text-center" style="margin: 1rem 0;">
                                                <input type="hidden" name="pro_id" id="pro_id" value="{{ pro_id }}" />
                                                <input type="hidden" name="process" id="process" value="1" />
                                                <button class="btn btn-secondary" type="button" id="cancelPDF_btn">Cancelar</button>
                                                <button class="btn btn-success" id="processPDF_btn" onclick="clicPDFProcessMul()" type="submit">
                                                    <i class="fas fa-play"></i> &nbsp;Procesar
                                                </button>
                                            </div>
                                        </form>
                                    {% endif %}
                                </div>

                                <div class="col-sm-12 text-center">
                                    <div class="mb-3">
                                    </div>
                                    <div id="processPDF_wrapper" class="text-center d-none">
                                        <img src="{{ url_for('static', filename='img/processing.gif') }}" style="width: 100px; height: 100px;">
                                        <p style="margin:1rem auto;">
                                            <small style="color:gray;" lass="text-muted"><b>procesando PDF(s)</b></small>
                                        </p>
                                    </div>
                                    <div id="progressPDF_wrapper" class="text-center d-none">
                                        <img src="{{ url_for('static', filename='img/processing.gif') }}" style="width: 100px; height: 100px;">
                                        <p style="margin:1rem auto;">
                                            <small style="color:gray;" lass="text-muted"><b>cargando PDF(s)</b></small>
                                        </p>
                                    </div>
                                    <div id="alertPDF_wrapper">
                                        
                                    </div>
                                </div>
                                
                            </div>
                            {% else %}
                            <div class="row" style="padding: 0 1rem;">
                                <div class="col-sm-12 text-center">
                                    <div class="mb-3">
                                        {% if result_save %}
                                        <img class="card-img-logo" src="{{ url_for('static', filename='img/doc-word.png') }}">
                                        {% else %}
                                        <img class="card-img-logo" src="{{ url_for('static', filename='img/doc-error.png') }}">
                                        {% endif %}
                                        {% if result_invalid_text %}
                                        <label id="file_PDF_label" style="margin: 0.5rem 0; width: 100%; font-size: small; color: darkred;">{{ result_invalid_text }}</label>
                                        {% endif %}
                                        <label id="file_PDF_label" style="margin: 0.5rem 0; font-weight: bold; width: 100%;">{{ result_file_text }}</label>
                                    </div>
                                    <div class="mb-3">
                                        <form method="POST" action="save_paper_mul" enctype="multipart/form-data">
                                            <input type="hidden" name="down_image" id="down_image" value="{{ result_file_down }}" />
                                            <p style="text-align: center; margin: 15px 0 0 0;">
                                                <a href="{{ url_for('main.close_thesis_mul', source='upload/home/'+pro_id) }}" class="btn btn-secondary">Cerrar</a>
                                                {% if result_save %}
                                                <button class="btn btn-primary" id="saveImage_btn" type="submit" style="font-size: medium;">Guardar</button>
                                                {% endif %}
                                            </p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        <!-- </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}