{% extends "layout.html" %}

{% block content %}
<!-- BLOCK CONTENT -->
<div class="content">
    <div class="container">
        <div class="page-title">    </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h6 class="card-header">Extraer de información de PDFs</h6>
                    <div class="card-body">
                        <!-- {% if project %}
                        <h5 class="card-title-info">{{ project.pro_title}} </h5>
                        {% endif %} -->
                        <!-- <form class=""> -->
                            {% if not result_file_text %}
                            <div class="row">
                                <div class="col-sm-12">
                                    {% if not resultLoad %}
                                    <form method="post" action="/thesis_mul" enctype="multipart/form-data">
                                        <div class="mb-3 text-center">
                                            <!-- Seleccionar múltiples PDFs -->
                                            <label id="files_label" style="margin: 0.5rem 0; width: 100%;">Seleccionar PDFs</label><br>
                                            <input type="file" class="form-control" id="file_pdf" name="files[]" multiple="true" autocomplete="off" required>
                                            <input type="hidden" name="pro_id" id="pro_id" value="{{ pro_id }}" />
                                            <input type="hidden" name="process" id="process" value="0" />
                                            <div class="line"></div>
                                            <button class="btn btn-secondary" id="progressPDF_btn" onclick="clicPDFProgressMul()" type="submit">
                                                <i class="fas fa-file-upload"></i> &nbsp;Cargar PDFs
                                            </button>
                                        </div>
                                    </form>
                                    {% else %}
                                        <form method="POST" action="action_thesis_mul" enctype="multipart/form-data">
                                            <!-- PROCESAMIENTO CON FILTRO X ATRIBUTOS -->
                                            <div class="card">
                                                <div class="card-body" style="padding-bottom: 0.2rem;">
                                                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" onclick="clicProcessPart()">
                                                    {% for pdf in pdfs %}
                                                        <li class="nav-item" id="pdf_id_{{pdf.pdf_id}}_li">
                                                            <a class="nav-link" id="page_tab_{{pdf.pdf_id}}" data-bs-toggle="pill" href="#page_{{pdf.pdf_id}}" style="padding: 5px 12px 0;" role="tab" aria-controls="page_{{pdf.pdf_id}}" aria-selected="false">
                                                                PDF <span style="font-size: x-small;">({{pdf.npages}} pag.)</span>
                                                                <img class="card-img-land" style="width: 50px; display: block; margin: 4px 5px 0 15px;" src='{{pdf.pdf_path}}0.jpg'>
                                                            </a>
                                                            <span class="fa-fw select-all fas" style="width: 100px; padding: 0 0 0.5rem 0.85rem;">
                                                                <button type="submit" id="close_{{pdf.pdf_id}}" style="padding: 0; display: block;" class="btn" onclick="removePDF('{{ request.url }}', '{{pdf.pdf_id}}', '{{pdf.name}}')">
                                                                    <i class="fas fa-trash-alt" title="borrar" style="color:firebrick;"></i>
                                                                </button>
                                                            </span>
                                                        </li>
                                                    {% endfor %}
                                                        <div class="col-sm-12 text-center" style="margin: 5px 0;">
                                                            <span style="font-size:smaller;">Si NO desea procesar todo, seleccione el PDF que desea procesar</span>
                                                        </div>
                                                        <input type="hidden" name="pdfs_remove" id="pdfs_remove" value="" />
                                                    </ul>
                                                    <div class="tab-content" id="pills-tabContent" style="padding: 0 5px 10px;">
                                                        {% for pdf in pdfs %}
                                                        <div class="tab-pane fade" id="page_{{pdf.pdf_id}}" role="tabpanel" aria-labelledby="page_tab_{{pdf.pdf_id}}">
                                                            <div class="col-sm-12 col-md-6" style="width: 100%; margin: 0 0 5px 0;">
                                                                <input class="form-check-input" style="margin-left: 0;" type="checkbox" name="all_page" id="allpage_{{pdf.pdf_id}}" value="" onclick="checkAll(this, '{{pdf.pdf_id}}')">&nbsp;Seleccionar todas las páginas&nbsp;
                                                            </div>
                                                            <div class="col-sm-12 col-md-6" style="font-size: smaller; display: flex;">
                                                                <div class="col-sm-6" style="width: 80%; margin: 0;">
                                                                    <input type="hidden" name="pdf_nameid" id="pdf_nameid" value="{{pdf.pdf_id}}" />
                                                                    {% if (project.pro_type_a == 1) %}
                                                                    <input class="form-check-input" type="radio" name="type_{{pdf.pdf_id}}" value="A" id="radio1" onclick="activeBack(this, '{{pdf.pdf_id}}')" checked>
                                                                    {% else %}
                                                                    <input class="form-check-input" type="radio" name="type_{{pdf.pdf_id}}" value="A" id="radio1" onclick="activeBack(this, '{{pdf.pdf_id}}')" disabled>
                                                                    {% endif %}
                                                                    <label class="form-check-label" for="radio1">Antecedentes</label><br>
                                                                    
                                                                    {% if (project.pro_type_m == 1) %}
                                                                    <input class="form-check-input" type="radio" name="type_{{pdf.pdf_id}}" value="M" id="radio2" onclick="activeFrame(this, '{{pdf.pdf_id}}')">
                                                                    {% else %}
                                                                    <input class="form-check-input" type="radio" name="type_{{pdf.pdf_id}}" value="M" id="radio2" onclick="activeFrame(this, '{{pdf.pdf_id}}')" disabled>
                                                                    {% endif %}
                                                                    <label class="form-check-label" for="radio2">Marco Teórico</label>
                                                                </div>
                                                                <div class="col-sm-6" id="filter_back_{{pdf.pdf_id}}" style="width: 120%; margin: 0;">
                                                                    <!-- <input type="hidden" name="pdf_nameid" id="pdf_nameid" value="{{pdf.pdf_id}}" /> -->
                                                                    <input class="form-check-input" type="radio" name="nation_{{pdf.pdf_id}}" value="N" id="radio1" checked>
                                                                    <label class="form-check-label" for="radio1">Nacional</label><br>
                                                                    
                                                                    <input class="form-check-input" type="radio" name="nation_{{pdf.pdf_id}}" value="I" id="radio2">
                                                                    <label class="form-check-label" for="radio2">Internacional</label>
                                                                </div>
                                                                <div class="col-sm-6 d-none" id="filter_frame_{{pdf.pdf_id}}" style="width: 120%; margin: 0;">
                                                                    <div class="form-check form-check-inline" style="margin: 0; padding-left: 0.25rem;">
                                                                        <div class="form-check" style="padding-left: 1.25rem;">
                                                                            <input class="form-check-input" type="checkbox" name="type_a" value="A" checked disabled>
                                                                            <label class="form-check-label" for="inlineCheckbox1">Definición</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-check form-check-inline" style="margin: 0; padding-left: 0.25rem;">
                                                                        <div class="form-check" style="padding-left: 1.25rem;">
                                                                            <input class="form-check-input" type="checkbox" name="type_m" value="M" checked disabled>
                                                                            <label class="form-check-label" for="inlineCheckbox2">Importancia</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-check form-check-inline" style="margin: 0; padding-left: 0.25rem;">
                                                                        <div class="form-check" style="padding-left: 1.25rem;">
                                                                            <input class="form-check-input" type="checkbox" name="type_a" value="A" checked disabled>
                                                                            <label class="form-check-label" for="inlineCheckbox1">Modelos</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-check form-check-inline" style="margin: 0; padding-left: 0.25rem;">
                                                                        <div class="form-check" style="padding-left: 1.25rem;">
                                                                            <input class="form-check-input" type="checkbox" name="type_m" value="M" checked disabled>
                                                                            <label class="form-check-label" for="inlineCheckbox2">Concept Dimen</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <hr style="margin:10px 0;">
                                                            <div class="col-sm-12" id="page_{{pdf.pdf_id}}_tab">
                                                                {% for i in range(pdf.npages) %}
                                                                <div class="form-check form-check-inline" style="padding-left: 0; margin-right: 2px; font-size:small; color: #666;">
                                                                    <button type="button" class="btn" style="padding: 0 2px; margin: 5px 0;" data-toggle="modal" data-target="#exampleModal_{{pdf.pdf_id}}_{{i}}" onclick="openPage(this, '{{ pdf.pdf_path_img }}', '{{pdf.pdf_id}}', '{{i}}')">
                                                                        <div style="border: 1px solid #CCC; margin-top: 2px;">
                                                                            <span class="fa-fw select-all fas" style="width: 100px">
                                                                                <img class="card-img-land" style="width: 100px;" src='{{pdf.pdf_path}}{{i}}.jpg'>
                                                                            </span>
                                                                        </div>
                                                                        <span id="popup" class="fa-fw select-all fas"></span>
                                                                    </button>
                                                                    <div style="margin: 0 15px;">
                                                                        {% if i==0 or i==1 %}
                                                                        <input class="form-check-input" style="margin-left: 0;" type="checkbox" id="page_{{pdf.pdf_id}}_{{i}}" value="{{pdf.pdf_id}}_{{i}}" checked disabled>&nbsp;Pag. {{i+1}}&nbsp;
                                                                        <input class="form-check-input" style="margin-left: 0;" type="hidden" name="page" value="{{pdf.pdf_id}}_{{i}}">
                                                                        {% else %}
                                                                        <input class="form-check-input" style="margin-left: 0;" type="checkbox" name="page" id="page_{{pdf.pdf_id}}_{{i}}" value="{{pdf.pdf_id}}_{{i}}">&nbsp;Pag. {{i+1}}&nbsp;
                                                                        {% endif %}
                                                                    </div>
                                                                    <!-- Modal -->
                                                                    <div class="modal fade" id="exampleModal_{{pdf.pdf_id}}_{{i}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                        <div class="modal-dialog" role="document" style="max-width: 780px;">
                                                                            <div class="modal-content" style="background-color: #CCC; width: 815px;">
                                                                                <!-- Add image inside the body of modal -->
                                                                                
                                                                                <div class="modal-body" style="display: inline-flex; top: 5px;">
                                                                                    <div id="canvasContainer" class="text-center" style="width: 100%; padding: 0 1px 0 1px;">
                                                                                        <canvas id="canvas" class="canvas_page" style="background-image: url('{{pdf.pdf_path}}{{i}}.jpg'); position: relative; margin: 0 auto;" width="500px" height="800px" ></canvas>
                                                                                    </div>
                                                                                    <button id="btn_arrow_left" style="height: 50px; margin-top: 250px; position: fixed; left: 260px;" type="button" class="btn btn-icon icon-left btn-info mb-2" onclick="movePages(this, '{{ pdf.pdf_path_img }}', '{{pdf.pdf_id}}', '{{i}}', '{{pdf.npages}}', 'down')"><i class="fas fa-arrow-left"></i></button>
                                                                                    <button id="btn_arrow_right" style="height: 50px; margin-top: 252px; position: fixed; right: 225px;" type="button" class="btn btn-icon icon-left btn-info mb-2" onclick="movePages(this, '{{ pdf.pdf_path_img }}', '{{pdf.pdf_id}}', '{{i}}', '{{pdf.npages}}', 'up')"><i class="fas fa-arrow-right"></i></button>
                                                                                    <input type="hidden" name="canvas_page" id="canvas_page" value="{{ pdf.npages }}" />
                                                                                </div>
                                                                                <label for="state" class="form-label" style="margin-top: -0.4rem; position: fixed; padding-left: 350px;">
                                                                                    <select id="head_page_{{pdf.pdf_id}}_{{i}}" class="form-select" style="display: inline-block; width: auto; font-size:small; padding-right: 1.9rem;" required onchange="selectPages(this.value, '{{pdf.pdf_id}}', '{{ pdf.pdf_path_img }}')">
                                                                                        {% for x in range(pdf.npages) %}
                                                                                        <option value="{{x}}">{{x + 1}}</option>
                                                                                        {% endfor %}
                                                                                    </select>
                                                                                </label>
                                                                                
                                                                                <div style="margin: 0 10px 5px;">
                                                                                    {% if i==0 or i==1 %}
                                                                                        <input class="form-check-input" style="margin-left: 350px;" type="checkbox" name="full_page" id="full_page_{{pdf.pdf_id}}_{{i}}" value="{{pdf.pdf_id}}_{{i}}" onclick="openCheck(this, '{{pdf.pdf_id}}', '{{i}}')" checked>
                                                                                    {% else %}
                                                                                        <input class="form-check-input" style="margin-left: 350px;" type="checkbox" name="full_page" id="full_page_{{pdf.pdf_id}}_{{i}}" value="{{pdf.pdf_id}}_{{i}}" onclick="openCheck(this, '{{pdf.pdf_id}}', '{{i}}')">
                                                                                    {% endif %}
                                                                                    <span id="foot_page_{{pdf.pdf_id}}_{{i}}">&nbsp;Pag. {{i+1}}&nbsp;</span>
                                                                                </div>
                                                                                
                                                                                <div class="modal-footer">
                                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3 text-center" style="margin: 1rem 0;">
                                                <input type="hidden" name="pro_id" id="pro_id" value="{{ pro_id }}" />
                                                <input type="hidden" name="process" id="process" value="1" />
                                                <button class="btn btn-secondary" type="button" id="cancelPDF_btn">Cancelar</button>
                                                <button class="btn btn-success" id="processPDF_btn" onclick="clicPDFProcessMul()" type="submit">
                                                    <i class="fas fa-play"></i> &nbsp;Procesar
                                                </button>
                                            </div>
                                        </form>
                                    {% endif %}
                                </div>

                                <div class="col-sm-12 text-center">
                                    <div id="processPDF_wrapper" class="text-center d-none">
                                        <img src="{{ url_for('static', filename='img/processing.gif') }}" style="width: 100px; height: 100px;">
                                        <p style="margin:1rem auto;">
                                            <small style="color:gray;" lass="text-muted"><b>procesando PDF(s)</b></small>
                                        </p>
                                    </div>
                                    <div id="progressPDF_wrapper" class="text-center d-none">
                                        <img src="{{ url_for('static', filename='img/processing.gif') }}" style="width: 100px; height: 100px;">
                                        <p style="margin:1rem auto;">
                                            <small style="color:gray;" lass="text-muted"><b>cargando PDF(s)</b></small>
                                        </p>
                                    </div>
                                    <div id="alertPDF_wrapper">
                                        
                                    </div>
                                </div>
                                
                            </div>
                            {% else %}
                            <div class="row" style="padding: 0 1rem;">
                                <div class="col-sm-12 text-center">
                                    <div class="mb-3">
                                        {% if result_save %}
                                        <img class="card-img-logo" src="{{ url_for('static', filename='img/doc-word.png') }}">
                                        {% else %}
                                            <img class="card-img-logo" src="{{ url_for('static', filename='img/doc-error.png') }}">
                                            <p>
                                                {{ result_file_text }}
                                            </p>
                                        {% endif %}
                                    </div>
                                    {% if result_save %}
                                    
                                    <div class="mb-3" style="margin-bottom: 0 !important;">
                                        <form method="POST" action="save_pro_mul" enctype="multipart/form-data">
                                            <input type="hidden" name="down_pro" id="down_pro" value="{{ pro_id }}" />
                                            <p style="text-align: center; margin: 15px 0; color: #222;">
                                                <button class="btn btn-primary" id="save_pro" type="submit" style="font-size: medium;">
                                                    &nbsp;Descargar Proyecto&nbsp;<i class="fas fa-file-download"></i>&nbsp;&nbsp;
                                                </button><br>
                                                <!-- <span>Descargar Proyecto</span> -->
                                            </p>
                                            <p style="text-align: center; margin: 0 0 15px 0;">
                                                <span>Los PDFs fueron procesados correctamente, si desea actualizarlos. Ingrese aqui </span>
                                                <a href="{{ url_for('main.close_thesis_mul', source='upload/home/'+pro_id) }}" class="btn btn-success">PDFs</a>
                                            </p>
                                        </form>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        <!-- </form> -->
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-12 text-center" style="font-size: small !important;">
                <a href="{{ url_for('main.project_list') }}">
                    <button type="button" class="btn btn-primary" style="margin: 1rem;">Ver Proyectos</button>
                </a>
            </div> -->
        </div>
    </div>
</div>
{% endblock %}