{% extends "layout.html" %}

{% block content %}
<!-- BLOCK CONTENT -->
<div class="content">
    <div class="container">
        <div class="page-title">  </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row" style="margin: 0 0.1rem;">
                    <div class="col-md-9" style="margin: 0.4rem 0 0; text-align: left;">
                        <a>
                            <p class="text-muted" style="margin: 0.25rem 0 0; font-size: large;"><b>Información del Proyecto</b></p>
                        </a>
                    </div>
                    <div class="col-md-3" style="margin: 0.3rem 0; text-align: right;">
                        <a href="{{ url_for('main.update_form', id=pro_id) }}">
                            <button type="button" class="btn btn-primary" style="margin: 0rem;"><b>Editar</b></button>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body" style="text-align: center;">
                        <!-- <h5 class="card-title-info">{{ project.pro_title}} </h5> -->
                        <p class="card-text-info">{{ project.pro_uni }}</p>
                        <p class="card-text-info">Carrera: {{ project.pro_career }}</p>
                        {% if keywordsOne %}
                        <p class="card-text-info"><b>Variables:</b> 
                            {% for keyword in keywordsOne %}
                                {{ keyword.key_name }},
                            {% endfor %}
                        </p>
                        {% endif %}
                        {% if (project.pro_type_a == 1 and project.pro_type_m == 1) or project.pro_type_a == 1 or project.pro_type_m == 1  %}
                            <p class="card-text-info">Tipo Investigación</p>
                            {% if project.pro_type_a == 1 %}
                                <span class="card-text-info"><b>Antecedentes</b></span>
                            {% endif %}
                            {% if project.pro_type_m == 1 %}
                                <span class="card-text-info"><b>Marco Teórico</b></span>
                            {% endif %}
                        {% endif %}
                        <br>
                        <p class="card-text-info">({{ project.pro_created }})</p>
                        <p class="card-text-info" style="border-bottom:#CCC 1px solid; margin: 1.5rem 1rem 0.5rem;"></p>
                        {% if project.pro_n_process > 0 %}
                        <p class="card-text-info">Nº Procesamientos: <b>{{ project.pro_n_process }}</b></p>
                        <p class="card-text-info">PDFs Procesados: <b>{{ project.pro_n_articles }}</b></p>
                            <img class="card-img-land" style="width: 55%;" src="../../static/img/analisis-docs.jpg"><br>
                            <span><a href="{{ url_for('main.project_pdfs', id=pro_id) }}" style="font-size: smaller; padding: 0.3rem 1.25rem;" class="btn btn-success"><b>VER PDFs</b></a></span>
                        {% else %}
                        <p class="card-text-info" style="margin: 4.5rem 1rem 3rem; color:#222;">Este proyecto no registra procesamientos</p><br>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}