{% extends "layout_home.html" %}

{% block content %}
<!-- BLOCK CONTENT -->
<div class="content">
    <div class="container" style="max-width: 1000px;">
        <div class="page-title"></div>
        
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title-form" style="margin:0.5rem 0 1rem 0">Registro de Proyecto</h5>
                        <form class="needs-validation" action="{{ url_for('main.save_upload') }}" method="POST" accept-charset="utf-8">
                            <div class="row g-2">
                                <input id="keywords_out" name="keywords_out" type="hidden" value="{{ keywordsOneId }}">
                                <input id="keywords_in" name="keywords_in" type="hidden" value="{{ keywords }}">
                                <div class="col-md-4">
                                    {% if key_id %}
                                        <input id="key_id" name="key_id" type="hidden" value="{{ key_id }}">
                                    {% else %}
                                        <input id="key_id" name="key_id" type="hidden" value="">
                                    {% endif %}
                                    <div class="wrapper_upload">
                                        <input type="text" class="form-control" name="keyword" id="keyword" placeholder="Ingrese palabra clave" style="display:inline;"  onkeyup="showResults(this.value)">
                                        <span class="fa-fw select-all fas" onclick="clearVariables()"></span>
                                    </div>
                                    <!-- <span class="fa-fw select-all fas" onclick="addVariable_click()"></span> -->
                                    <div id="result" style="margin-bottom: 0.5rem;"></div>
                                    <div class="valid-feedback">OK!</div>
                                    <div class="invalid-feedback">Ingrese palabra clave</div>
                                </div>
                                <div class="col-md-8">
                                    {% if project %}
                                    <label id="keywords_label" class="form-label" style="font-size: smaller; margin-top: 10px;">Palabras claves seleccionadas <a style="color: #3e8ef7; font-weight: 600; text-decoration: underline;" onclick="clearKeywords()" href="#"> (limpiar)</a></label>
                                    <div id="keywords_select" class="form-label">
                                        {% for keyword in keywordsOne %}
                                        <button id="{{ keyword.key_id }}" type="button" value="{{ keyword.key_id }}" class="btn btn-secondary mb-2" style="padding: 0.25rem 0.5rem;">{{ keyword.key_name }}</button>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    <label id="keywords_label" class="form-label d-none" style="font-size: smaller; margin-top: 10px;">Palabras claves seleccionadas <a style="color: #3e8ef7; font-weight: 600; text-decoration: underline;" onclick="clearKeywords()" href="#"> (limpiar)</a></label>
                                    <div id="keywords_select" class="form-label"> </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row g-2">
                                <div class="mb-3">
                                    {% if project.pro_title %}
                                    <input type="text" class="form-control" id="title" name="title" value="{{ project.pro_title }}" required>
                                    {% else %}
                                    <input type="text" class="form-control" id="title" name="title" placeholder="Ingrese el título" value="" required>
                                    {% endif %}
                                    <div class="valid-feedback">OK!</div>
                                    <div class="invalid-feedback">Ingrese el título</div>
                                </div>
                            </div>
                            <div class="row g-2">
                                <div class="mb-3">
                                    <select name="university" class="form-select" required>
                                        {% if project.pro_uni %}
                                        <option value="{{ project.pro_uniid }}" selected>{{ project.pro_uni }}</option>
                                        {% else %}
                                        <option value="" selected>Seleccione la universidad</option>
                                        {% endif %}
                                        {% for university in universities %}
                                        <option value="{{university.uni_id}}">{{university.uni_nickname}} - {{university.uni_name}}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="valid-feedback">OK!</div>
                                    <div class="invalid-feedback">Seleccione la universidad</div>
                                </div>
                            </div>
                            <div class="row g-2">
                                <div class="mb-3 col-md-4">
                                    <select name="department" id="department" class="form-select col-md-6" style="width: 100% !important;" required>
                                        <option value="" selected>Departamento</option>
                                        {% for department in departments %}
                                            {% if department.dpt_id == project.pro_department %}
                                            <option value="{{department.dpt_id}}" selected>{{department.dpt_name}}</option>
                                            {% else %}
                                            <option value="{{department.dpt_id}}">{{department.dpt_name}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3 col-md-4">
                                    <select name="province" id="province" class="form-select col-md-6" required>
                                        {% if project.pro_province %}
                                            {% for province in provinces %}
                                                {% if province.prv_id == project.pro_province %}
                                                <option value="{{province.prv_id}}" selected>{{province.prv_name}}</option>
                                                {% else %}
                                                <option value="{{province.prv_id}}">{{province.prv_name}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                        <option value="" selected>Provincia</option>
                                        {% endif %}
                                    </select>
                                    <div class="valid-feedback">OK!</div>
                                    <div class="invalid-feedback">Seleccione la provincia</div>
                                </div>
                                <div class="mb-3 col-md-4">
                                    <select name="district" id="district" class="form-select col-md-6" required>
                                        {% if project.pro_district %}
                                            {% for district in districts %}
                                                {% if district.dis_id == project.pro_district %}
                                                <option value="{{district.dis_id}}" selected>{{district.dis_name}}</option>
                                                {% else %}
                                                <option value="{{district.dis_id}}">{{district.dis_name}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                        <option value="" selected>Distrito</option>
                                        {% endif %}
                                    </select>
                                    <div class="valid-feedback">OK!</div>
                                    <div class="invalid-feedback">Seleccione el distrito</div>
                                </div>
                                <div class="mb-3 col-md-4">
                                    {% if project.pro_career %}
                                    <input type="text" class="form-control" name="career" value="{{ project.pro_career }}" required>
                                    {% else %}
                                    <input type="text" class="form-control" name="career" placeholder="Ingrese la carrera" required>
                                    {% endif %}
                                    <div class="valid-feedback">OK!</div>
                                    <div class="invalid-feedback">Ingrese la carrera</div>
                                </div>
                                <div class="mb-3 col-md-8">
                                    {% if project.pro_comment %}
                                    <input type="text" class="form-control" name="comment" value="{{ project.pro_comment }}" required>
                                    {% else %}
                                    <input type="text" class="form-control" name="comment" placeholder="Ingrese un comentario">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="line" style="margin: 10px auto;"></div>
                            <div class="col-md-12 col-lg-12 text-center">
                                <div class="col-sm-12">
                                    <div class="form-check form-check-inline" style="margin-top: 10px;">
                                        <div class="form-check">
                                            {% if project.pro_type_a == 0 %}
                                            <input class="form-check-input" type="checkbox" name="type_a" value="A">
                                            {% else %}
                                            <input class="form-check-input" type="checkbox" name="type_a" value="A" checked>
                                            {% endif %}
                                            <label class="form-check-label" for="inlineCheckbox1">Antecedentes</label>
                                        </div>
                                    </div>
                                    <div class="form-check form-check-inline" style="margin-top: 10px;">
                                        <div class="form-check">
                                            {% if project.pro_type_m == 0 %}
                                            <input class="form-check-input" type="checkbox" name="type_m" value="M">
                                            {% else %}
                                            <input class="form-check-input" type="checkbox" name="type_m" value="M" checked>
                                            {% endif %}
                                            <label class="form-check-label" for="inlineCheckbox2">Marco Teórico</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="line" style="margin: 10px auto;"></div>
                            <div class="col-md-12 col-lg-12 text-center" style="margin: 1rem 0 1rem;">
                                {% if project %}
                                <input id="save_type" name="save_type" type="hidden" value="edit">
                                <input id="save_id" name="save_id" type="hidden" value="{{ pro_id }}">
                                {% else %}
                                <input id="save_type" name="save_type" type="hidden" value="new">
                                {% endif %}
                                <button type="submit" id="save_upload" class="btn btn-primary" style="font-size: medium;" > &nbsp; Guardar &nbsp;
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}