{% extends "layout_home.html" %}

{% block content %}
<!-- BLOCK CONTENT -->
<div class="content">
    <div class="container" style="max-width: 1000px;">
        <div class="page-title"></div>
        <div class="row">
            <div class="col-md-12 page-header" style="text-align: right; font-size: smaller; margin: 5px auto;">                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title-form">Formulario de Registro</h5>
                        <form class="needs-validation" action="{{ url_for('main.save_upload') }}" method="POST" accept-charset="utf-8">
                            <div class="mb-3">
                                <label for="address" class="form-label">Título</label>
                                <input type="text" class="form-control" name="title" placeholder="" required>
                                <div class="valid-feedback">OK!</div>
                                <div class="invalid-feedback">Ingrese el título</div>
                            </div>
                            <div class="row g-2">
                                <div class="mb-3 col-md-8">
                                    <label for="state" class="form-label">Universidad</label>
                                    <select name="university" class="form-select" required>
                                        <option value="" selected>Elegir universidad</option>
                                        {% for university in universities %}
                                        <option value="{{university.uni_id}}">{{university.uni_name}} - ({{university.uni_nickname}})</option>
                                        {% endfor %}
                                    </select>
                                    <div class="valid-feedback">OK!</div>
                                    <div class="invalid-feedback">Seleccione la universidad</div>
                                </div>
                                <div class="mb-3 col-md-4">
                                    <label for="zip" class="form-label">Carrera</label>
                                    <input type="text" class="form-control" name="career" placeholder="" required>
                                    <div class="valid-feedback">OK!</div>
                                    <div class="invalid-feedback">Ingrese la carrera</div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12">
                                <div class="col-md-3">..</div>
                                <div class="col-md-4">
                                    <label for="city" class="form-label">Palabras claves</label>
                                    <input type="text" class="form-control" name="keyword" id="keyword" placeholder="Busca palabras claves" required onkeyup="showResults(this.value)">
                                    <div id="result"></div>
                                    <div class="valid-feedback">OK!</div>
                                    <div class="invalid-feedback">Ingrese palabra clave</div>
                                </div>
                                <div class="col-md-3">..</div>
                                <div class="card d-none">
                                    <div class="card-body" id="keywords_group" style="text-align: center;">
                                        <input id="keyword_1" name="keyword_1" type="hidden" value="">
                                        <input id="keyword_2" name="keyword_2" type="hidden" value="">
                                        <input id="keyword_3" name="keyword_3" type="hidden" value="">
                                        <input id="keywords" name="keywords" type="hidden" value="{{ keywords }}">
                                        <p class="card-title-form" style="margin-bottom: 0.75rem;">Seleccionar palabras clave <span style="font-size: small; font-weight: 100;">(máximo 3)</span></p>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="col-md-12 col-lg-12 text-center">
                                <div class="col-sm-12">
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="checkbox" name="type" id="check1" value="A" checked>
                                      <label class="form-check-label" for="inlineCheckbox1">Antecedentes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="checkbox" name="type" id="check2" value="M">
                                      <label class="form-check-label" for="inlineCheckbox2">Marco Teórico</label>
                                    </div>
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="col-md-12 col-lg-12 text-center" style="margin: 2rem 0 1rem;">
                                <button type="submit" id="save_upload" class="btn btn-primary" style="font-size: medium;" onclick="validateFormUpload()"> &nbsp; Guardar &nbsp;
                                </button>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
            <!-- <img class="card-img-land" src="../static/img/home-upload.jpg"> -->
        </div>
    </div>
</div>
{% endblock %}