{% extends "layout_home.html" %}

{% block content %}
<!-- BLOCK CONTENT -->
<div class="content">
    <div class="container" style="max-width: 1000px;">
        <div class="page-title"></div>
        <div class="row">
            <div class="col-md-12 page-header" style="text-align: right; font-size: smaller; margin: 5px auto;">                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title-form" style="margin:0.5rem 0 1rem 0">Formulario de Registro</h5>
                        <form class="needs-validation" action="{{ url_for('main.save_upload') }}" method="POST" accept-charset="utf-8">
                            <div class="row g-2">
                                <input id="keywords_out" name="keywords_out" type="hidden" value="">
                                <input id="keywords_in" name="keywords_in" type="hidden" value="{{ keywords }}">
                                <!-- <input id="keyids" name="keyids" type="hidden" value="{{ keyids }}"> -->
                                <div class="col-md-4">
                                    <!-- <label for="city" class="form-label">Palabras claves</label> -->
                                    <input type="text" class="form-control" name="keyword" id="keyword" placeholder="Busca palabras claves" autocomplete="off" onkeyup="showResults(this.value)">
                                    <span class="fa-fw select-all fas" onclick="addVariable()"></span>
                                    <div id="result" style="margin-bottom: 0.5rem;"></div>
                                    <div class="valid-feedback">OK!</div>
                                    <div class="invalid-feedback">Ingrese palabra clave</div>
                                </div>
                                <div class="col-md-8">
                                    <label id="keywords_label" class="form-label d-none" style="font-size: smaller; margin-top: 10px;">Palabras claves seleccionadas <a style="color: #3e8ef7; font-weight: 600; text-decoration: underline;" onclick="clearKeywords()" href="#"> (limpiar)</a></label>
                                    <div id="keywords_select" class="form-label"></div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <!-- <label for="address" class="form-label">Título</label> -->
                                <input type="text" class="form-control" id="title" name="title" placeholder="Ingrese el título" value="{{ title }}" required>
                                <div class="valid-feedback">OK!</div>
                                <div class="invalid-feedback">Ingrese el título</div>
                            </div>
                            <div class="row g-2">
                                <div class="mb-3 col-md-8">
                                    <!-- <label for="state" class="form-label">Universidad</label> -->
                                    <select name="university" class="form-select" required>
                                        <option value="" selected>Seleccione la universidad</option>
                                        {% for university in universities %}
                                        <option value="{{university.uni_id}}">{{university.uni_name}} - ({{university.uni_nickname}})</option>
                                        {% endfor %}
                                    </select>
                                    <div class="valid-feedback">OK!</div>
                                    <div class="invalid-feedback">Seleccione la universidad</div>
                                </div>
                                <div class="mb-3 col-md-4">
                                    <!-- <label for="zip" class="form-label">Carrera</label> -->
                                    <input type="text" class="form-control" name="career" placeholder="Ingrese la carrera" required>
                                    <div class="valid-feedback">OK!</div>
                                    <div class="invalid-feedback">Ingrese la carrera</div>
                                </div>
                            </div>

                            <div class="line" style="margin: 10px auto;"></div>
                            <div class="col-md-12 col-lg-12 text-center">
                                <div class="col-sm-12">
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="checkbox" name="type_a" value="A" checked>
                                      <label class="form-check-label" for="inlineCheckbox1">Antecedentes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="checkbox" name="type_m" value="M">
                                      <label class="form-check-label" for="inlineCheckbox2">Marco Teórico</label>
                                    </div>
                                </div>
                            </div>
                            <div class="line" style="margin: 10px auto;"></div>
                            <div class="col-md-12 col-lg-12 text-center" style="margin: 1rem 0 1rem;">
                                <button type="submit" id="save_upload" class="btn btn-primary" style="font-size: medium;" onclick="validateFormUpload()"> &nbsp; Guardar &nbsp;
                                </button>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
            <!-- <img class="card-img-land" src="../static/img/home-upload.jpg"> -->
        </div>
    </div>
</div>
{% endblock %}